# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# custom excludes
composer.lock
.idea/workspace.xml
.vagrant/*
src/Anticom/ShowcaseBundle/Resources/public/*
# src/**Bundle/Resources/public/*   #needs fixing